<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fiap.am.amproject">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="br.com.fiap.am.amproject.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>


        <activity
            android:name=".LoginActivity"
            android:label="Entrar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstActivity" />
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfirmarCompraActivity"
            android:label="@string/title_activity_confirmar_compra"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ComprovanteActivity"
            android:label="@string/title_activity_comprovante"
            android:theme="@style/AppTheme" />
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CadastrarVendaNomeProdutoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity android:name=".DefinirPrecoVendaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CadastrarVendaNomeProdutoActivity" />
        </activity>
        <activity android:name=".BuscarImagensActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DefinirPrecoVendaActivity" />
        </activity>
        <activity
            android:name=".InformacoesSobreVendaActivity"
            android:label="Vender"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BuscarImagensActivity" />
        </activity>
        <activity
            android:name=".EditarPerfilActivity"
            android:label="Editar Perfil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity android:name=".EditarCartaoActivity"
            android:label="Editar Cartao">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />

        </activity>
    </application>

</manifest>